.blog-container {
    max-width: 500px;
}

.contact-form {
    max-width: 500px;
}
@media (max-width: 1000px) {
    .blog-container {
        max-width: 100%;
    }
    .contact-form {
        width: 100%;
    }
    
    .contact-form input, .contact-form textarea {
        width: 80%;
    }
}