:root {
  /* --bg-color: #ffffff;
  --text-color: #000000;
  --link-color: #0119f7; */
  
  --bg-color: #131313;
  --text-color: #f3f3f3;
  --link-color: #7a88ffff;
}

body {
  width: 50%;
  background-color: var(--bg-color);
  color: var(--text-color);
}

a {
  color: var(--link-color);
}

.blog-container {
  max-width: 100%;
}

.kontak-container {
  max-width: 100%;
}

@media (max-width: 1000px) {
  body {
    width: 100%;
  }
  .kontak-container p {
    width: 100%;
  }
  .kontak-container input,
  .kontak-container textarea {
    width: 90% !important;
  }
}
